header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

header img{

    width: 100px;
    height: 100px;

}

nav ul{
    display: flex;
    justify-content: space-around;
    


}
nav ul li{
    list-style: none;
    border: 1px solid black;
    padding: 0px 10px;


}

nav ul li:hover {
    background-color: #ccc;

}

nav ul li:hover ul {
    display: block;

}

nav ul li ul{
    display: none;
    position: absolute;
   

}

nav ul li ul li {
    padding: 5px 5px;
    
}

li {
    cursor: pointer;
}

.grid-1 {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.grid-2 {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.elemento {
    height: 200px;
    margin: 10px;
}

#semana-prova {
    color: white;
    background-color: darkred;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;

}

#websai {
    color: white;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;

}


#passe-escolar {
    color: white;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}

#noticias {
    color: white;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}